% extends 'mainbase.html' %}
{% load static %} 
{% block title %} course {% endblock %}
{% block content %}
<!-- <style>
    body{
        background-image:url( "{% static 'image/clg1.JPEG' %}");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style> -->
<div class="container mr-2 border-">
    <span class="border border-primary">

    <h3 class="container  text-primary">CLASSROOM</h3>
    <img src="{% static 'image/clsrm.JPEG' %}" class="img-fluid" alt="Responsive image">
    </span>
</div>

<div>
    <span class="border border-primary">

    <h3 class="container  text-primary">LIBRARY</h3>
    <img src="{% static 'image/library.JPEG' %}" class="img-fluid" alt="Responsive image">
    </span>
</div>

<div>
    <span class="border border-primary">

    <h3 class="container 