{% extends 'mainbase.html' %}
{% load static %}
{% block title %}mainhome{% endblock%}
{% block content %}

<h1  class="text-center" "text-success" ">SREE NARAYANA COLLEGE</h1>
<div class="mx-auto w-50  text-center text-black p-1 my-5 border-3 border-black">
<p>Sree Narayana College (SN College) is an educational institution situated in Varkala, municipality of Trivandrum, in the state of Kerala, India. The college is located on a small hilltop with a campus encompassing hundreds of acres in Sreenivasapuram area of Varkala municipality. The college is affiliated with Kerala University.[1]

    The alumni association ASNCOS (Association of Sree Narayana College Old Students) has chapters in different </p>

</div>
<div class="mx-auto w-50  text-center text-black p-1 my-5 border-3 border-black">
    <p>Sree Narayana College (SN College) is an educational institution situated in Varkala, municipality of Trivandrum, in the state of Kerala, India. The college is located on a small hilltop with a campus encompassing hundreds of acres in Sreenivasapuram area of Varkala municipality. The college is affiliated with Kerala University.[1]
    
        The alumni association ASNCOS (Association of Sree Narayana College Old Students) has chapters in different </p>
    
    </div>
    {% endblock %}